<h1>Login</h1>

<form class="form login-form">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="username" class="form-control" placeholder="username" id="login-username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your info with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" placeholder="password" id="login-password">
  </div>
  <button type="submit" class="btn btn-primary" id="login-submit">Log in</button>
  <button type="submit" class="btn btn-primary" id="signup-submit">Sign up</button>
  <script src="/js/login.js"></script>
</form>